@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.flex {
    display: flex;
}

.across {
    justify-content: center;
}

.middle {
    align-items: center;
}

.content-wrap {
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: rgb(211, 210, 201);
}

.content-block {
  background: rgb(25, 37, 68);
  width: calc(100vw - 20%);
  height: calc(100vh - 20%);
}
